
.about{
    padding: 100px 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(228, 225, 225);
}

.about img{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-self: end;
}

.about h3{
    font-size: 34px;
    color: rgb(39, 22, 71);
}
.about p{
    color: rgb(80, 78, 77);
    font-size: 16px;
    line-height: 30px;
    margin: 30px auto;
}
.about button{
    color: rgb(223, 217, 217);
}
.btn-02{
    width: 100px;
    height: 30px;
    border: solid 1px;
    background: rgb(27, 27, 27);
    border-radius:  6px;
}