
.banner {
    background-image: url("img-evolucao/banner.jpg");
    filter: brightness(100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    width: 100%; 
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:#862eaf;
    opacity: .7;
    z-index: -999;

}
.container{
    width: 100%;
    margin:  0px auto;  
}

.title {
    color: #fff;
    font-size: 50px;
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container nav {
    background-color: #862eaf;
    color: white; 
    height: 100px;
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container nav h1 {
    margin: 204px;
    font-size: 39px;
}

.container ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.container ul li {
    font-size: 16px;
    padding: 1.0rem;
}

.container ul li a{
    color: white;
    text-decoration: none;

}

.container ul li a:hover {
    border-bottom: yellowgreen solid 2px;
}


.container .manage {
    color: white; 
    height: 600px;
    padding: 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .iphone {
    margin: 100px;
    width: 350px;
    display: flex;
    flex-direction: row;
 
}
.container h2{
    font-size: 34px;
    padding: auto;
}

.container p {
    color: wheat;
    font-size: 15px;
    margin: 30px auto;
    line-height: 30px;
}

.logo {
    background: #450363;
    display: flex;
    flex-direction: row;
    padding: 2px  19px;
    border-radius: 10px;
}

.button{
    height: 40px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:  thistle;
}

.mecbook{
    width: 515px;
    display: flex;
    flex-direction: row;
 
}

.container .about{
    height: 600px;
    padding: 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about h3{
    font-size: 34px;
    padding: auto;
    color: rgb(30, 29, 32);
}
.about  p{
    color: rgb(53, 52, 51);
    font-size: 15px;
    margin: 30px auto;
    line-height: 30px;
}
/*
.container .redes{
    height: 600px;
    padding: 0 300px;
}
*/
